[mysqld]
# Определеям дефолтный метод аутентификации
default-authentication-plugin=mysql_native_password

# Размер буфера для InnoDB.
innodb_buffer_pool_size = 256M

# Логирование запросов для отладки.
general_log = 1M
general_log_file = /var/log/mysql/general.log

# Логирование медленных запросов.
slow_query_log = 1M
slow_query_log_file = /var/log/mysql/slow.log

# Настройки безопасности
secure-file-priv = ""

# Отключение режима строгого SQL.
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Параметры для оптимизации производительности.
key_buffer_size = 16M
thread_cache_size = 8M

# Закрытие открытых соединений в случае неактивности.
wait_timeout = 600
interactive_timeout = 600